$def with (header,)
<body>
    Import data from another Student Logs installation: 
    <br/><br/>
	<form method="POST" enctype="multipart/form-data" action="/import">
		Database file: <input type="file" name="db_file" />
		<br/>
		<input type="submit" value="Upload" />
	</form>	
</body>